html,
body {
    margin: 0;
    min-height: 100vh;
}

body {
    background:
        radial-gradient(circle at bottom left,
            #3E466A 0%,
            transparent 35%),
        linear-gradient(to left,
            #0D1326 0%,
            #23283E 45%,
            #9CA1C5 100%);
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 800px;
    background-color: #151932;
    margin: 40px auto 15px;
    padding: 40px;
    border: 1px solid #71748B;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

header {
    text-align: center;
    margin-bottom: 60px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 35px;
    color: white;
}

header p {
    margin: 0px;
    color: #DADDEC;
    font-size: 15px;
    font-weight: 300;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr;
    gap: 30px;
    align-items: start;
}

.cities {
    display: flex;
    flex-direction: column;

}

.city {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.2fr;
    align-items: center;

    background: #191F32;
    border: 1px solid #262C3F;
    border-radius: 20px;
    color: white;

    padding: 20px 40px;
    margin-bottom: 5px;

}

.city:first-child {
    background: #24254A;
    border: 1px solid #423D6E;
}

.city-info h2 {
    margin: 0 0 12px;
    font-size: 22px;
    font-weight: 500;
}

h2 {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 22px;
}

.country {
    margin: 0;
    font-size: 15px;
    color: #B4B5CA;
}

.country:first-child,
.city-date:first-child {
    color: #E9E8F8;
}

.city-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.city-date p {
    margin: 0;
    font-size: 17px;
    color: #B4B5CA;

}

.date {
    color: #B4B5CA;
    font-size: 17px;
}

.city-time {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 14px;
}

.time {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
}

.period {
    font-size: 12px;
    font-weight: 500;
    vertical-align: middle;
}

.difference {
    margin: 0;
    font-size: 15px;
    color: #777;
    position: relative;
    top: -8px;
}


.details {
    background: #191F32;
    border: 1px solid #2E3448;
    border-radius: 20px;
    padding: 15px;
    min-height: 435px;
}

.selected-city p {
    margin: 0;
    color: #8D79E8;

}

.search-box {
    margin-top: 15px;

}

select {
    margin: 0;
    padding: 10px 2px;
    width: 100%;
    font-size: 15px;
    color: #8689A1;
    border: 1px solid #2E3448;
    border-radius: 5px;
    background: #191F32;
}

select:focus {
    outline: none;
    border-color: #b293fb;
    box-shadow: 0 0 10px rgba(139, 92, 246, 0.3);
}

footer {
    text-align: center;
    color: #B5BACC;
    margin-bottom: 15px;
}

footer a {
    color: #AE98F0
}